@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

#app {
  /* width: 100%; */
  min-height: 100vh;
  display: flex;

}

#roles-container {
  width: 20%;
  background: #C0D4B9;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Nixie One', cursive;
  height: 100%;

}


.roles-container_heading {
  /* background: green; */
  display: flex;
  margin-top: 1.5rem;
  padding-left: 1rem;
}

#hamburger-cross {
  display: none;
}

.roles-container_box {
  margin-top: 2rem;
  font-family: 'Rubik', sans-serif;
  overflow-y: scroll;
  height: 82%;
}

.roles-container_box::-webkit-scrollbar {
  width: 7px;
  background: #a2bf99;
}

.roles-container_box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(87, 87, 87);
  border-radius: 10px;
}

.roles-container_box::-webkit-scrollbar-thumb {
  background: #a4c499;
  border-radius: 10px;
}



.roles-container_box_system {
  /* background: green; */
  padding-left: 1.3rem;
  padding: 1rem;

}


.roles-container_box_system label {
  font-size: 1.2rem;
}

.roles-container_box_system textarea {
  margin-top: .5rem;
  display: block;
  width: 98%;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: .5rem;
  wrap: break-word;
  font-family: 'Vollkorn', serif;
  height: 15.9rem;
}

.roles-container_box_summary {
  padding-left: 1.3rem;
  padding: 1rem;
}

#roles-container_box_summary_para {
  /* padding-left: 1.3rem; */
  margin-top: 1rem;
  margin-right: .5rem;
  padding: .5rem .5rem .5rem .5rem;
  wrap: break-word;
  background: #e4f0e0;
  font-size: .8rem;
  border-radius: 6px;
}

#eraseMemory {
  margin-left: 4rem;
  padding: .5rem;
  border-radius: 4px;
  border: none;
  color: black;
  font-weight: 600;
}

#eraseMemory:active {
  background: #000;
  color: white;
}

#chat-container {
  flex-basis: 80%;
  flex-grow: 1;
  /* overflow-y: scroll; */
  height: 80%;
  max-width: 80%;
  margin-left: 20%;
}


.prompt-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: fixed;
  /* background: #454545; */
  height: 5rem;
  /* overflow: hidden; */
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 80%;
  /* margin-bottom: 1rem; */
  background: rgba(245, 245, 245, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#hamburger {
  position: relative;
  width: 80%;
  height: 10px;
  width: 10px;
  background: red;
  flex-basis: 20%;
  display: none;
}

#hamburger img {
  display: none;
}

#prompt-input {
  /* display: block; */
  padding: 1rem;
  font-size: 1rem;
  height: 3rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0;
  background: rgb(234, 234, 234);
  outline: none;
  font-family: 'Rubik', sans-serif;
  max-width: 90%;
  flex-basis: 90%;
  resize: none;
  overflow: hidden;
}

.textarea-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 90%;
  max-width: 90%;
  /* background: rgb(212, 212, 212); */
  margin: 10px;
}

#send {
  position: relative;
  width: 25px;
  height: 3rem;
  flex-basis: 5%;
  max-width: 5%;
  border: none;
  background: transparent;
  /* background: green; */
  cursor: pointer;
}



#send img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#prompt-reply {
  /* background: green; */
  /* padding: 1rem; */
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darker {
  color: white;
  /* background: #A58478; */
  padding: 10px;
  width: 50%;
  white-space: pre-wrap;
  font-family: 'Mukta', sans-serif;
}

.promptdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #003D2E;
  border-bottom: #297f69 1px solid;
}

.biggerReplyContainer {
  width: 100%;
  background: #00523D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lighter {
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 50%;
  white-space: pre-wrap;
  font-family: 'Mukta', sans-serif;
}

.codingdiv {
  background: rgb(19 54 45);
  padding: 1rem;
  border-radius: 8px;
}

.codingdiv code {
  color: white
}



@media only screen and (max-width: 768px) {
  .promptdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #003D2E;
    border-bottom: #297f69 1px solid;
  }

  .biggerReplyContainer {
    width: 100%;
    background: #00523D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #chat-container {
    max-width: 100%;
    margin-left: 0rem;
  }

  #roles-container {
    /* display: none; */
    z-index: 9999;
    left: -90%;
    width: 80%;
    transition: 350ms left cubic-bezier(.39, .27, .31, .95);
  }

  .lighter {
    padding: 10px;
    width: 87%;

  }

  .darker {
    padding: 10px;
    width: 87%;

  }

  #prompt-input {
    display: inline-block;
    flex-basis: 92% !important;
    max-width: 92% !important;
    height: 2.4rem;
    font-size: .9rem;
    padding-left: .9rem;
    padding-top: .6rem;
    box-sizing: border-box;
    border-radius: 3px;
    /* display: none; */
  }

  .prompt-container {
    /* mobile screen */
    display: flex !important;
    padding: 0.5rem;
    background: #00523e;
    position: fixed;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    background: rgba(245, 245, 245, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .textarea-container {
    display: flex;
    flex-basis: 90%;
    max-width: 90%;
    border-radius: 4px;
    overflow: hidden;
  }

  #send {
    flex-basis: 10%;
    max-width: 10%;
  }

  #send img {
    /* mobile size */
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  #hamburger {
    display: block;
    flex-basis: 12%;
    max-width: 12%;
    border: none;
    height: 2.4rem;
    background: white;
    border-radius: 2px;
    height: 2rem;
    order: -1;
    position: relative;
  }

  .roles-container_heading h1 {
    flex-basis: 75%;
    max-width: 80%;
  }

  #eraseMemory {
    margin-left: 4rem;

  }

  #hamburger-cross {
    display: block;
    flex-basis: 15%;
    border: none;
    cursor: pointer;
    max-width: 15%;
    z-index: 1;
  }

  #hamburger img {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
  }


}